h2 {
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
}

.image {
    width: 200px;
    max-height: 300px;
    float: right;
    overflow: hidden;
    margin: 10px;
}

.button {
    margin: 0 5px;
}

header .button {
    font-size: small;
    margin: 3px;
    background: none;
    color: var(--accent);
}

.lang-selector-nojs {
    overflow-x: auto;
    white-space: nowrap;
}

.badge {
    height: 25px;
}

@media only screen and (max-width: 600px) {
    .image {
        float: none;
        margin: 48px auto;
        display: block;
        width: auto;
    }
}